#{if docen}
	#{form id:'itemForm',action:@Horarios.docente(), method:'POST',enctype:'multipart/form-data'}
				
				
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cedula</th>  
                
            </tr>
        </thead>
        <tbody>
            
            #{list docen, as:'docentes'}
                <tr>
                     <td onclick="detectar(this);" name=${docentes.id}>${docentes.nombre}</td>          
                     <td onclick="detectar(this);" name=${docentes.id}>${docentes.cedula}</td>              
                    
                </tr>
            #{/list}
        </tbody>
    </table>
    #{field 'codigo'}
	  <input type="text" hidden="" id="sele" name="${field.name}"style="visibility: hidden;">
	  #{/field}
	  <h1 id='tex'hidden="true"></h1>
	  
    <p>
        <a id="nextPage" href="${page+1}" class="btn">More results</a>
    </p>
    #{/form}
#{/if}

#{else}
    <p>
        No more results
    </p>
#{/else}      